version: '3.8'

services:
  rabbitmq:
    image: rabbitmq:3.12-management
    container_name: stepprflow-rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
      RABBITMQ_DEFAULT_VHOST: /
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq

  mongodb:
    image: mongo:7.0
    container_name: stepprflow-mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    environment:
      MONGO_INITDB_DATABASE: stepprflow

  mongo-express:
    image: mongo-express:latest
    container_name: stepprflow-mongo-express
    depends_on:
      - mongodb
    ports:
      - "8091:8081"
    environment:
      ME_CONFIG_MONGODB_SERVER: mongodb
      ME_CONFIG_BASICAUTH_ENABLED: "false"

volumes:
  rabbitmq_data:
  mongodb_data:
